html {
  font-size: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

*,
*:before,
*:after,
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.05);
  font-family: "Roboto", sans-serif;
}

input,
textarea {
  font-size: 16px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

p {
  line-height: 1rem;
  padding: 1rem 0;
  font-size: 1.1rem;
}
