.nav {
  width: 100%;
  height: 4rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
