.main {
  padding: 0 2rem;
}

.post {
  background: white;
  transition: box-shadow 0.1s ease-in;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.post:hover {
  box-shadow: 1px 1px 3px #aaa;
  cursor: pointer;
}
